# Introduction

Let's begin with the basics, first let check which libs we are going to use in this tutorial and let's download some stock data.

In [4]:
%pip install -q yfinance pandas numpy matplotlib

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [5]:
# Libs introduction that we will use in this article
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
# Now it's time to download some stock data
Apple = yf.download("AAPL", start="2010-01-01", end="2022-01-01")

/Users/dreamstore/Documents/Learning/Python/python-trading/menv/lib/python3.10/site-packages/yfinance/utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[*********************100%%**********************]  1 of 1 completed

In [7]:
# Let see Apple stocks
Apple

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,7.622500,7.660714,7.585000,7.643214,6.478998,493729600
2010-01-05,7.664286,7.699643,7.616071,7.656429,6.490200,601904800
2010-01-06,7.656429,7.686786,7.526786,7.534643,6.386966,552160000
2010-01-07,7.562500,7.571429,7.466071,7.520714,6.375158,477131200
2010-01-08,7.510714,7.571429,7.466429,7.570714,6.417542,447610800
...,...,...,...,...,...,...
2021-12-27,177.089996,180.419998,177.070007,180.330002,178.292862,74919600
2021-12-28,180.160004,181.330002,178.529999,179.289993,177.264618,79144300
2021-12-29,179.330002,180.630005,178.139999,179.380005,177.353607,62348900
2021-12-30,179.470001,180.570007,178.089996,178.199997,176.186920,59773000
2021-12-31,178.089996,179.229996,177.259995,177.570007,175.564072,64062300