# Introduction

Let's begin with the basics, first let check which libs we are going to use in this tutorial and let's download some stock data.

In [4]:
%pip install -q yfinance pandas numpy matplotlib

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [5]:
# Libs introduction that we will use in this article
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
# Now it's time to download some stock data
Apple = yf.download("AAPL", start="2010-01-01", end="2022-01-01")

/Users/dreamstore/Documents/Learning/Python/python-trading/menv/lib/python3.10/site-packages/yfinance/utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[*********************100%%**********************]  1 of 1 completed

In [7]:
# Let see Apple stocks
Apple

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,7.622500,7.660714,7.585000,7.643214,6.478998,493729600
2010-01-05,7.664286,7.699643,7.616071,7.656429,6.490200,601904800
2010-01-06,7.656429,7.686786,7.526786,7.534643,6.386966,552160000
2010-01-07,7.562500,7.571429,7.466071,7.520714,6.375158,477131200
2010-01-08,7.510714,7.571429,7.466429,7.570714,6.417542,447610800
...,...,...,...,...,...,...
2021-12-27,177.089996,180.419998,177.070007,180.330002,178.292862,74919600
2021-12-28,180.160004,181.330002,178.529999,179.289993,177.264618,79144300
2021-12-29,179.330002,180.630005,178.139999,179.380005,177.353607,62348900
2021-12-30,179.470001,180.570007,178.089996,178.199997,176.186920,59773000
2021-12-31,178.089996,179.229996,177.259995,177.570007,175.564072,64062300

In [12]:
# Get list of stocks of these three companies below
companies = ["SPY", "AAPL", "KO"]

stocks = yf.download(companies, start="2010-01-01", end="2019-01-01")

/Users/dreamstore/Documents/Learning/Python/python-trading/menv/lib/python3.10/site-packages/yfinance/utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
/Users/dreamstore/Documents/Learning/Python/python-trading/menv/lib/python3.10/site-packages/yfinance/utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[                       0%%                      ]/Users/dreamstore/Documents/Learning/Python/python-trading/menv/lib/python3.10/site-packages/yfinance/utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[*********************100%%**********************]  3 of 3 completed

In [13]:
# Check stock data
stocks

Price       Adj Close                             Close             \
Ticker           AAPL         KO         SPY       AAPL         KO
Date
2010-01-04   6.479000  18.498018   87.129944   7.643214  28.520000
2010-01-05   6.490198  18.274252   87.360580   7.656429  28.174999
2010-01-06   6.386965  18.267765   87.422096   7.534643  28.165001
2010-01-07   6.375158  18.222364   87.791130   7.520714  28.094999
2010-01-08   6.417542  17.885098   88.083260   7.570714  27.575001
...               ...        ...         ...        ...        ...
2018-12-24  35.232262  39.317562  215.959854  36.707500  45.959999
2018-12-26  37.713364  40.155930  226.871216  39.292500  46.939999
2018-12-27  37.468609  40.660648  228.612961  39.037498  47.529999
2018-12-28  37.487820  40.378349  228.318054  39.057499  47.200001
2018-12-31  37.850140  40.506668  230.317825  39.435001  47.349998

Price                        High                               Low  \
Ticker             SPY       AAPL         KO         SPY       AAPL
Date
2010-01-04  113.330002   7.660714  28.610001  113.389999   7.585000
2010-01-05  113.629997   7.699643  28.495001  113.680000   7.616071
2010-01-06  113.709999   7.686786  28.219999  113.989998   7.526786
2010-01-07  114.190002   7.571429  28.184999  114.330002   7.466071
2010-01-08  114.570000   7.571429  27.820000  114.620003   7.466429
...                ...        ...        ...         ...        ...
2018-12-24  234.339996  37.887501  47.869999  240.839996  36.647499
2018-12-26  246.179993  39.307499  46.959999  246.179993  36.680000
2018-12-27  248.070007  39.192501  47.549999  248.289993  37.517502
2018-12-28  247.750000  39.630001  48.009998  251.399994  38.637501
2018-12-31  249.919998  39.840000  47.540001  250.190002  39.119999

Price                                   Open                         \
Ticker             KO         SPY       AAPL         KO         SPY
Date
2010-01-04  28.450001  111.510002   7.622500  28.580000  112.370003
2010-01-05  28.070000  112.849998   7.664286  28.424999  113.260002
2010-01-06  27.990000  113.430000   7.656429  28.174999  113.519997
2010-01-07  27.875000  113.180000   7.562500  28.165001  113.500000
2010-01-08  27.375000  113.660004   7.510714  27.730000  113.889999
...               ...         ...        ...        ...         ...
2018-12-24  45.830002  234.270004  37.037498  47.619999  239.039993
2018-12-26  45.660000  233.759995  37.075001  45.880001  235.970001
2018-12-27  46.029999  238.960007  38.959999  46.740002  242.570007
2018-12-28  47.029999  246.449997  39.375000  47.889999  249.580002
2018-12-31  46.959999  247.470001  39.632500  47.490002  249.559998

Price          Volume
Ticker           AAPL        KO        SPY
Date
2010-01-04  493729600  13870400  118944600
2010-01-05  601904800  23172400  111579900
2010-01-06  552160000  19264600  116074400
2010-01-07  477131200  13234600  131091100
2010-01-08  447610800  28712400  126402800
...               ...       ...        ...
2018-12-24  148676800  10733700  147311600
2018-12-26  234330000  14342600  218485400
2018-12-27  212468400  16966500  186267300
2018-12-28  169165600  13218200  153100200
2018-12-31  140014000  10576300  144299400

[2264 rows x 18 columns]

In [14]:
# first 5 rows
stocks.head()

Price      Adj Close                           Close                         \
Ticker          AAPL         KO        SPY      AAPL         KO         SPY
Date
2010-01-04  6.479000  18.498018  87.129944  7.643214  28.520000  113.330002
2010-01-05  6.490198  18.274252  87.360580  7.656429  28.174999  113.629997
2010-01-06  6.386965  18.267765  87.422096  7.534643  28.165001  113.709999
2010-01-07  6.375158  18.222364  87.791130  7.520714  28.094999  114.190002
2010-01-08  6.417542  17.885098  88.083260  7.570714  27.575001  114.570000

Price           High                              Low                         \
Ticker          AAPL         KO         SPY      AAPL         KO         SPY
Date
2010-01-04  7.660714  28.610001  113.389999  7.585000  28.450001  111.510002
2010-01-05  7.699643  28.495001  113.680000  7.616071  28.070000  112.849998
2010-01-06  7.686786  28.219999  113.989998  7.526786  27.990000  113.430000
2010-01-07  7.571429  28.184999  114.330002  7.466071  27.875000  113.180000
2010-01-08  7.571429  27.820000  114.620003  7.466429  27.375000  113.660004

Price           Open                            Volume
Ticker          AAPL         KO         SPY       AAPL        KO        SPY
Date
2010-01-04  7.622500  28.580000  112.370003  493729600  13870400  118944600
2010-01-05  7.664286  28.424999  113.260002  601904800  23172400  111579900
2010-01-06  7.656429  28.174999  113.519997  552160000  19264600  116074400
2010-01-07  7.562500  28.165001  113.500000  477131200  13234600  131091100
2010-01-08  7.510714  27.730000  113.889999  447610800  28712400  126402800

In [15]:
# Columns info
stocks.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2264 entries, 2010-01-04 to 2018-12-31
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Adj Close, AAPL)  2264 non-null   float64
 1   (Adj Close, KO)    2264 non-null   float64
 2   (Adj Close, SPY)   2264 non-null   float64
 3   (Close, AAPL)      2264 non-null   float64
 4   (Close, KO)        2264 non-null   float64
 5   (Close, SPY)       2264 non-null   float64
 6   (High, AAPL)       2264 non-null   float64
 7   (High, KO)         2264 non-null   float64
 8   (High, SPY)        2264 non-null   float64
 9   (Low, AAPL)        2264 non-null   float64
 10  (Low, KO)          2264 non-null   float64
 11  (Low, SPY)         2264 non-null   float64
 12  (Open, AAPL)       2264 non-null   float64
 13  (Open, KO)         2264 non-null   float64
 14  (Open, SPY)        2264 non-null   float64
 15  (Volume, AAPL)     2264 non-null   int64
 16  (Volume, KO)       2264 non-null   int64
 17  (Volume, SPY)      2264 non-null   int64
dtypes: float64(15), int64(3)
memory usage: 336.1 KB

In [ ]:
# Export to CSV file
stocks.to_csv("stocks.csv")